{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {quic, {git, "https://github.com/benoitc/erlang_quic.git", {branch, "main"}}},
    {h2, {git, "https://github.com/benoitc/erlang_h2.git", {tag, "0.4.0"}}}
]}.

{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/erlang_masque">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>,
              <<"docs/usage.md">>, <<"docs/features.md">>]},
    {main, <<"README.md">>},
    {output, <<"_build/ex_doc">>}
]}.

{profiles, [
    {test, [
        {deps, [{proper, "1.4.0"}]},
        {plugins, [{rebar3_proper, "0.12.1"}]},
        {erl_opts, [debug_info]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
